/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #d2bdf4, #8e2dee);
}

.App {
  width: 80%;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #333;
}

/* Table styles */
.table {
  margin: 1em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #d4d4d4;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Input styles */
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles */
button, .btn {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  background-color: #00d9ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover, .btn:hover {
  background-color: #dcb57b;
  color: black;
}

.btn-primary {
  margin-left: 10px;
  text-decoration: none;
}

/* Canvas  */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
